[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/opt/AutoScan/bin/autoscan-network\";bash"
GenericName=
Icon=cache
Name=Autoscan
Path=/opt/AutoScan/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=/opt/AutoScan/usr/share/pixmaps/autoscan-network/AutoScan_48.png
Categories=BT-Network-Mapping-Fingerprinting;BT-Network-Mapping-Identify;BT-Network-Mapping-Portscanning

