[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"afstats -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Afstats
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Forensics-Aquiring
