[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"air\";bash"
GenericName=
Icon=cache
Name=AIR Imager
Path=/usr/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Forensics-Aquiring
