[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"amap; sudo -s\";bash"
GenericName=
Icon=cache
Name=Amap
Path=
StartupNotify=trie
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Service-Fingerprinting
