[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./bss;sudo -s\";bash"
GenericName=
Icon=cache
Name=BSS
Path=/pentest/bluetooth/bss/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
