[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./blue-smash-v1.0e.py --menu;sudo -s\";bash"
GenericName=
Icon=cache
Name=BlueSmash
Path=/pentest/bluetooth/bluesmash
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
