[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python brutessh.py; sudo -s\";bash"
GenericName=
Icon=cache
Name=BruteSSH
Path=/pentest/passwords/brutessh
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOnlineAttacks
