[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"echo '\n\n\t\tPlease see the README for use the pico features\n\n' && ls -l;sudo -s\";bash"
GenericName=
Icon=cache
Name=BlueSquirrel-Pico
Path=/pentest/bluetooth/bluesquirrel/btpincrack-v0.3/picod
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
