[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/web/CSRFTester;java -classpath ./lib/concurrent.jar:OWASP-CSRFTester-1.0.jar org.owasp.csrftester.CSRFTester\";bash"
GenericName=
Icon=cache
Name=CSRFTester
Path=/pentest/web/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
