[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"perl dnsenum.pl;sudo -s\";bash"
GenericName=
Icon=cache
Name=Dns Enum
Path=/pentest/enumeration/dnsenum/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-DNS

