[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"dragon\";bash"
GenericName=
Icon=cache
Name=Dragon
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Misc
