[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ls -al;sudo -s\";bash"
GenericName=
Icon=cache
Name=DFF Scanner
Path=/pentest/web/dffscanner
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
