[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ruby dradis.rb -h ;sudo -s\";bash"
GenericName=
Icon=cache
Name=Dradis Client
Path=/pentest/misc/dradis/client/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering
