[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"foremost -h;echo;echo Find the formost.conf in /etc;echo;sudo -s\";bash"
GenericName=
Icon=cache
Name=Foremost
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Categories=BT-Forensics-Filecarving
