[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./frontline -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Frontline
Path=/pentest/bluetooth/bluesquirrel/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
