[Desktop Entry]
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
Comment=
Comment[it]=
Exec[$e]=sh -c "python fimap.py;sudo -s"
GenericName=
GenericName[it]=
Icon=cache
MimeType=
Name=Fimap
Path[$e]=/pentest/web/fimap
StartupNotify=true
Terminal=0
TerminalOptions=\s--noclose
Type=Application
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
