[Desktop Entry]
Categories=BT-Forensics-Analysis
Comment=
Comment[en_US]=
Exec[$e]=sh -c "fatback -h; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Fatback
Name[en_US]=Fatback
Path[$e]=/usr/local/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
