[Desktop Entry]
Categories=BT-Sniffers
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"/pentest/sniffers/hamster/ferret ;sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Ferret
Name[en_US]=Ferret
Path=/pentest/sniffers/hamster/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
