[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/enumeration/google/gooscan/gooscan;sudo -s\";bash"
GenericName=
Icon=cache
Name=Gooscan
Path=/pentest/enumeration/google/gooscan
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-Searchengine
