[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python ./grabber.py -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Grabber
Path=/pentest/web/grabber
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
