[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"perl ./ghettotooth.pl;sudo -s\";bash"
GenericName=
Icon=cache
Name=Ghettotooth
Path=/pentest/bluetooth/ghettotooth
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
