[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./hashcat-cli.bin --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=Hashcat
Path=/pentest/passwords/hashcat
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
