[Desktop Entry]
Categories=BT-Vulnerability-Identification-SMB
Comment=
Exec=xterm -e "sh -c \"./samrdump.py; sudo -s\";bash"
GenericName=
Icon=cache
MimeType=
Name=Impacket samrdump
Path=/pentest/python/impacket-examples/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
