[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./joomscan.pl -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=JoomScan
Path=/pentest/web/joomscan/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
