[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/web/jakarta-jmeter/bin/;./jmeter\";bash"
GenericName=
Icon=cache
Name=Jmeter
Path=/pentest/web/jakarta-jmeter/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
