[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"kismet; sudo -s\";bash"
GenericName=
Icon=cache
Name=Kismet
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-80211-Cracking
