[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cat readme;echo;echo;sudo -s\";bash"
GenericName=
Icon=cache
Name=Lodowep
Path=/pentest/passwords/lodowep/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOnlineAttacks
