[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./list-urls.py;sudo -s\";bash"
GenericName=
Icon=cache
Name=List-Urls
Path=/pentest/enumeration/list-urls
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
