[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/database/MiniMySqlat0r;java -jar mms_03.jar\";bash"
GenericName=
Icon=cache
Name=Mini MySqlat0r
Path=/pentest/database
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
