[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ruby ./msfconsole; sudo -s\";bash"
GenericName=
Icon=cache
Name=Msfconsole
Path=/pentest/exploits/framework3/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Penetration-Metasploit-3
