[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"netenum;sudo -s\";bash"
GenericName=
Icon=cache
Name=Netenum
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-Route;BT-Spoofing
