[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"nbtscan -vh;sudo -s\";bash"
GenericName=
Icon=cache
Name=Nbtscan
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Identify
