[Desktop Entry]
Categories=BT-Radio-Network-Analysis-80211-Cracking
Comment=
Comment[en_US]=
Exec[$e]=sh -c "orinoco_hopper; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Orinoco-Hopper
Name[en_US]=Orinoco-Hopper
Path[$e]=/usr/local/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
