[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./ophcrack -h; sudo -s\";bash"
GenericName=
Icon=cache
Name=Ophcrack
Path=/usr/local/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
