[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"outputpbnj;sudo -s\";bash"
GenericName=
Icon=cache
Name=OutputPBNJ
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Identify;BT-Network-Mapping-Portscanning
