[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./ohrwurm;sudo -s\";bash"
GenericName=
Icon=cache
Name=Ohrwurm
Path=/pentest/voip/ohrwurm
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling

