[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./obexstress.py;sudo -s\";bash"
GenericName=
Icon=cache
Name=ObexStress
Path=/pentest/bluetooth/obexstress/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
