[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./oclHashcat32.bin --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=Oclhashcat
Path=/pentest/passwords/oclhashcat
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
