[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/usr/bin/psk-crack; sudo -s\";bash"
GenericName=
Icon=cache
Name=PSK-Crack
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-VPN
