[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"echo '\n\t\tplease see the README for use replay_packet\n\n' && ls -l;sudo -s\";bash"
GenericName=
Icon=cache
Name=Packet Replay
Path=/pentest/bluetooth/bss/replay_packet/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
