[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"java -Xmx96m -jar paros.jar\";bash"
GenericName=
Icon=cache
Name=Paros Proxy
Path=/pentest/web/paros/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
