[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python pblind.py; sudo -s\";bash"
GenericName=
Icon=cache
Name=Pblind
Path=/pentest/database/pblind/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Database-MSSQL;BT-Vulnerability-Identification-Database-MYSQL;BT-Vulnerability-Identification-Database-Oracle
