[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python proxystrike.py\";bash"
GenericName=
Icon=cache
Name=ProxyStrike
Path=/pentest/web/ProxyStrike/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Web-Application
