[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./rtsort;sudo -s\";bash"
GenericName=
Icon=cache
Name=RTSort
Path=/pentest/passwords/rcrack
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks;BT-Rainbowcrack
