[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./fdxbnum.py -R RFIDIOt.rfidiot.READER_ACG -l /dev/ttyUSB0 -s 9600;sudo -s\";bash"
GenericName=
Icon=cache
Name=Set FDX-B ID
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-ACG
