[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./fang -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Redfang
Path=/pentest/bluetooth/redfang
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Bluetooth
