[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"make install-passport-nokia;sudo -s\";bash"
GenericName=
Icon=cache
Name=Install vonJeek ePassport emulator to Nokia
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-PCSC
