[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./mifarekeys.py -R RFIDIOt.rfidiot.READER_PCSC;sudo -s\";bash"
GenericName=
Icon=cache
Name=Calculate JCOP MIFARE Keys
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-PCSC
