[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./isotype.py -R RFIDIOt.rfidiot.READER_ACG -s 9600 -l /dev/ttyUSB0; sudo -s\";bash"
GenericName=
Icon=cache
Name=Identify HF TAG Type
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-ACG
