[Desktop Entry]
Categories=BT-PasswordOnlineAttacks
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"echo;./SSHatter.pl;sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=SSHater
Name[en_US]=SSHater
Path=/pentest/passwords/sshatter/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
