[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"bash sqlcheck.sh -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=SQLCheck
Path=/pentest/database/blindsql/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Database-MYSQL
