[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"stunnel4 -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Stunnel4
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Tunneling
