[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/voip/smap/smap; sudo -s\";bash"
GenericName=
Icon=cache
Name=Smap
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling
