[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./sqlninja; sudo -s\";bash"
GenericName=
Icon=cache
Name=SQL Ninja
Path=/pentest/database/sqlninja/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Database-MSSQL
