[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/etc/init.d/mysql start\";bash"
GenericName=
Icon=package_games_arcade
Name=Start MYSQL
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Mysql
