[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"mysql -p -e 'drop database if exists snort;'; echo 'Done.'; read\";bash"
GenericName=
Icon=package_games_arcade
Name=Clean SNORT database
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-SNORT
