[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"stop-pcscd\";bash"
GenericName=
Icon=package_games_arcade
Name=Stop PCSCD
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PCSCD

