[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"socat -?;sudo -s\";bash"
GenericName=
Icon=cache
Name=Socat
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Tunneling
