[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ssldump -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=SSLDump
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers;BT-Spoofing
