[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"echo 'Please wait until Snort is stopped...'; snort-interface-stop.sh; /etc/init.d/snort stop\";bash"
GenericName=
Icon=package_games_arcade
Name=Stop SNORT
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-SNORT
