[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"tcpick --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=TcPick
Path=
StartupNotify=true
Terminal=0
TerminalOptions=-vt_sz 80x24
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers
