[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"perl ./tftpbrute.pl; sudo -s\";bash"
GenericName=
Icon=cache
Name=TFTP-bruteforce
Path=/pentest/passwords/tftp-bruteforce
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOnlineAttacks
