[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"tcpreplay -h ; sudo -s\";bash"
GenericName=
Icon=cache
Name=TCPreplay
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Spoofing
