[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./vomit -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Vomit
Path=/pentest/voip/vomit/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling

