[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ls;sudo -s\";bash"
GenericName=
Icon=cache
Name=Voiper
Path=/pentest/fuzzers/voiper/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Fuzzers;BT-Voip-And-Telephony-VOIP-Signalling
