[Desktop Entry]
Comment= Default admin/warvox
Exec=xterm -e "sh -c \"./warvox.rb & firefox http://127.0.0.1:7777\";bash"
GenericName=
Icon=cache
Name=Warvox
Path=/pentest/voip/warvox/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories= BT-Voip-And-Telephony-VOIP-Signalling
