[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/backdoors/web/;ls -la;sudo -s\";bash"
GenericName=
Icon=cache
Name=Web Backdoors Compilation
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Backdoor
