[Desktop Entry]
Categories=BT-Radio-Network-Analysis-80211-Spoofing
Comment=
Comment[en_US]=
Exec[$e]=sh -c "python ./wifitap.py; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Wifitap
Name[en_US]=Wifitap
Path[$e]=/pentest/wireless/wifitap
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
