[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/web/webscarab;java -Xmx256m -jar webscarab.jar\";bash"
GenericName=
Icon=cache
Name=Webscarab Lite
Path=/pentest/web/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
