[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python webshag.py\";bash"
GenericName=
Icon=cache
Name=Webshag
Path=/pentest/web/webshag/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;
