[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"perl ./wyd.pl; sudo -s\";bash"
GenericName=
Icon=cache
Name=Wyd
Path=/pentest/passwords/wyd
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
