[Desktop Entry]
Categories=BT-Radio-Network-Analysis-80211-Cracking
Comment=
Comment[en_US]=
Exec[$e]=sh -c "perl ./pcap-getIV.pl; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=WEPCrack getIV
Name[en_US]=WEPCrack getIV
Path[$e]=/pentest/wireless/wepcrack
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
