[Desktop Entry]
Categories=BT-Radio-Network-Analysis-80211-Misc
Comment=
Comment[en_US]=
Exec[$e]=sh -c "./zulu; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Zulu
Name[en_US]=Zulu
Path[$e]=/usr/local/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
