[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"0trace.sh;sudo -s\";bash"
GenericName=
Icon=cache
Name=0trace
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Identify;BT-Information-Gathering-Route
