[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./ace -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Ace
Path=/pentest/voip/ace
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling

