[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"arpalert -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=Arpalert
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers
