[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"allin1.py; sudo -s\";bash"
GenericName=
Icon=cache
Name=Allin1
Path=/usr/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Forensics-Analysis
