[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./bp.pl;sudo -s\";bash"
GenericName=
Icon=cache
Name=Blueprint
Path=/pentest/bluetooth/blueprint/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
