[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./cupp.py;sudo -s\";bash"
GenericName=
Icon=cache
Name=CUPP
Path=/pentest/passwords/cupp
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
