[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/cisco/copy-router-config/copy-router-config.pl; sudo -s\";bash"
GenericName=
Icon=cache
Name=Copy Router Config
Path=/pentest/cisco/copy-router-config/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Cisco
