[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"echo '\n\t\tCarWhisperer - Tools: CW_Pin - CW_Scan\n\n' && ls -l;sudo -s\";bash"
GenericName=
Icon=cache
Name=CW-Tools
Path=/pentest/bluetooth/carwhisperer/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-BT
