[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./ocs; sudo -s\";bash"
GenericName=
Icon=cache
Name=Cisco OCS Mass Scanner
Path=/pentest/cisco/cisco-ocs/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Cisco
