[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/usr/sbin/chntpw --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=Chntpw
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordAttacks
