[Desktop Entry]
Categories=BT-Information-Gathering-DNS
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"/pentest/enumeration/dns/dnsmap/dnsmap-bulk.sh ;sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=dnsmap-bulk
Name[en_US]=Dnsmap-bulk
Path=/pentest/enumeration/dns/dnsmap
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
