[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"java -jar DirBuster-0.12.jar -h;sudo -s\";bash"
GenericName=
Icon=cache
Name=DirBuster
Path=/pentest/web/dirbuster/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
