[Desktop Entry]
Categories=BT-Network-Mapping-Service-Fingerprinting;BT-Information-Gathering-Route
Comment=
Comment[en_US]=
Exec[$e]=sh -c "dmitry; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=DMitry
Name[en_US]=DMitry
Path[$e]=/usr/local/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
