[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ruby /pentest/enumeration/dnsrecon/dnsrecon.rb;sudo -s\";bash"
GenericName=
Icon=cache
Name=Dnsrecon
Path=/pentest/enumeration/dnsrecon
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-DNS

