[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"ettercap -G\";bash"
GenericName=
Icon=cache
Name=Ettercap-GTK
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers;BT-Spoofing
