[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./flare; sudo -s\";bash"
GenericName=
Icon=cache
Name=Flare
Path=/pentest/web/flare
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
