[Desktop Entry]
Categories=BT-Radio-Network-Analysis-80211-Spoofing
Comment=
Comment[en_US]=
Exec[$e]=sh -c "perl ./fakeap.pl; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=FakeAP
Name[en_US]=FakeAP
Path[$e]=/pentest/wireless/fakeap
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
