[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/enumeration/google/goohost/goohost.sh;sudo -s\";bash"
GenericName=
Icon=cache
Name=Goohost
Path=/pentest/enumeration/google/goohost
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-Searchengine
