[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python /usr/share/gerix-wifi-cracker-ng/gerix.py\";bash"
GenericName=
Icon=cache
Name=Gerix-Wifi-Cracker-NG
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-80211-Spoofing;BT-Radio-Network-Analysis-80211-Cracking
