[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"itrace --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=Itrace
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-Route
