[Desktop Entry]
Exec=xterm -e "sh -c \"wine ~/.wine/drive_c/Program\ Files/IDA\ Free/idag.exe\";bash"
Icon=db92_idag.0
Name=IDA Pro Free
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
StartupWMClass=Wine
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Reverse-Engineering
