[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"java -jar JBroFuzz.jar\";bash"
GenericName=
Icon=cache
Name=JBroFuzz
Path=/pentest/fuzzers/jbrofuzz
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Fuzzers
