[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/passwords/jtr/ && ./john;sudo -s\";bash"
GenericName=
Icon=cache
Name=John
Path=/pentest/passwords/jtr/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
