[Desktop Entry]
Comment=
Exec=xterm -e "kisgearth.pl;sudo -s;bash"
GenericName=
Icon=cache
Name=Kisgearth
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Radio-Network-Analysis-80211-Misc
