[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"sudo ./db/build-db.sh;cd bin;sudo ./cap\";bash"
GenericName=
Icon=cache
Name=Lanmap2
Path=/pentest/enumeration/lanmap2
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Identify;BT-Network-Mapping-Fingerprinting
