[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./letdown; sudo -s\";bash"
GenericName=
Icon=cache
Name=LetDown
Path=/pentest/enumeration/complemento/letdown/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Service-Fingerprinting
