[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"perl ./msfweb; sudo -s\";bash"
GenericName=
Icon=cache
Name=Framework2-Msfweb
Path=/pentest/exploits/framework2/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Penetration-Metasploit-2
