[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python mysqlaudit.py; sudo -s\";bash"
GenericName=
Icon=cache
Name=Mysqlaudit
Path=/pentest/database/mysqlaudit/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Database-MYSQL
