[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./mssqlscan.sh; sudo -s\";bash"
GenericName=
Icon=cache
Name=MSSQLScan
Path=/pentest/database/mssqlscan/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Database-MSSQL
