[Desktop Entry]
Encoding=UTF-8
Name=Maltego CE
Type=Application
Version=3.0CE
Comment=Paterva Maltego CE
GenericName=Paterva Maltego CE
Exec=xterm -e "/usr/bin/maltego-ce;bash"
Icon=MaltegoIcon48CE.png
Terminal=0
Categories=Qt;KDE;Network;BT-Information-Gathering
