[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/scanners/netifera/netifera\";bash"
GenericName=
Icon=cache
Name=Netifera
Path=/pentest/scanners/netifera/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Network-Mapping-Identify;BT-Network-Mapping-Portscanning
