[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"netactview\";bash"
GenericName=
Icon=cache
Name=NetActView
Path=/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Misc
