[Desktop Entry]
Name=Nautilus scripts manager
Name[it]=Gestore di script per Nautilus
Comment=Enable or disable Nautilus scripts
Comment[it]=Abilita e disabilita gli script per Nautilus
Exec=nautilus-scripts-manager
Terminal=false
Type=Application
Icon=nautilus-scripts-manager.svg
Categories=Settings;

