[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/web/openAcunetix/bin/;java -jar openAcunetix.jar\";bash"
GenericName=
Icon=cache
Name=OpenAcunetix
Path=/pentest/web/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
