[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"photorec; sudo -s\";bash"
GenericName=
Icon=cache
Name=PhotoRec
Path=/usr/local/sbin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Forensics-Analysis
