[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/web/powerfuzzer/powerfuzzer.py\";bash"
GenericName=
Icon=cache
Name=Powerfuzzer
Path=/pentest/web/powerfuzzer/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
