[Desktop Entry]
Categories=BT-Tunneling
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"./proxyresolv;sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Proxyresolv
Name[en_US]=Proxyresolv
Path=/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
