[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"packet-o-matic --help; sudo -s\";bash"
GenericName=
Icon=cache
Name=Packet-o-matic
Path=$HOME
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Misc
