[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"make install-mifare;sudo -s\";bash"
GenericName=
Icon=cache
Name=Install Mifare applet to JCOP
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-PCSC
