[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./rtpflood;sudo -s\";bash"
GenericName=
Icon=cache
Name=RTP Flood
Path=/pentest/voip/rtpflood
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling
