[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./hitag2reset.py -R RFIDIOt.rfidiot.READER_FROSCH -l /dev/ttyUSB0 -s 9600 CONTROL;sudo -s\";bash"
GenericName=
Icon=cache
Name=Reset Hitag2 TAG 
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-Frosch
