[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/pentest/web/ratproxy/ratproxy --help; sudo -s\";bash"
GenericName=
Icon=cache
Name=Ratproxy
Path=/pentest/web/ratproxy/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;
