[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./mrpkey.py -R RFIDIOt.rfidiot.READER_PCSC;sudo -s\";bash"
GenericName=
Icon=cache
Name=EPassport READ/WRITE/CLONE
Path=/pentest/rfid/RFIDIOt
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-RFID-PCSC
