[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./rtpinsertsound; sudo -s\";bash"
GenericName=
Icon=cache
Name=RTP InsertSound
Path=/pentest/voip/rtpinsertsound/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling
