[Desktop Entry]
Categories=BT-OpenVas
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"openvassd; sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Start OpenVas Scanner
Name[en_US]=Start OpenVas Scanner
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
