[Desktop Entry]
Categories=BT-OpenVas
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"pkill openvasad | echo 'Openvas Administrator Stopped'; sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Stop OpenVas Administrator
Name[en_US]=Stop OpenVas Administrator
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
