[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"stop-network\";bash"
GenericName=
Icon=package_games_arcade
Name=Stop NETWORK
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-NETWORK

