[Desktop Entry]
Categories=BT-Anti-Forensics
Comment=
Comment[en_US]=
Exec[$e]=sh -c "scrub; sudo -s"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Scrub
Name[en_US]=Scrub
Path[$e]=/usr/local/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
