[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./sapyto;\";bash"
GenericName=
Icon=cache
Name=Sapyto
Path=/pentest/exploits/sapyto/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Penetration
