[Desktop Entry]
Categories=BT-OpenVas
Comment=
Comment[en_US]=
Exec=xterm -e "sh -c \"pkill openvasmd | echo 'Openvas Manager Stopped'; sudo -s\";bash"
GenericName=
GenericName[en_US]=
Icon=cache
MimeType=
Name=Stop OpenVas Manager
Name[en_US]=Stop OpenVas Manager
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
