[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"stop-sshd;sudo -s\";bash"
GenericName=
Icon=cache
Name=Stop SSHD
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-SSH
