[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./saltymd5;sudo -s\";bash"
GenericName=
Icon=cache
Name=Saltymd5
Path=/pentest/passwords/saltymd5
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-PasswordOfflineAttacks
