[Desktop Entry]
Exec=xterm -e "sh -c \"echo 'Please see SCENARIOS, CAVEATS, and RESEARCH to get started';sudo -s\";bash"
GenericName=
Icon=cache
Name=Sip_rogue
Path=/pentest/voip/sip_rogue
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Voip-And-Telephony-VOIP-Signalling
