[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"stop-vnc;sudo -s\";bash"
GenericName=
Icon=package_games_arcade
Name=Stop VNC server
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-VNC
