[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"setup-sshd; sudo -s\";bash"
GenericName=
Icon=cache
Name=Setup SSHD
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-SSH
