[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/fuzzers/spike/;ls;sudo -s\";bash"
GenericName=
Icon=cache
Name=Spike
Path=/pentest/fuzzers/spike/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Fuzzers
