[Desktop Entry]
Comment=
Exec=xterm -e "konsole -e 'wicd-curses';bash"
GenericName=
Icon=package_games_arcade
Name=WICD curses interface
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-NETWORK
