[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"wicd-gtk\";bash"
GenericName=
Icon=package_games_arcade
Name=WICD gtk interface
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-NETWORK
