[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"cd /pentest/web/swfintruder;firefox index.html\";bash"
GenericName=
Icon=cache
Name=SWFintruder
Path=/pentest/web/swfintruder
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
