[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./theHarvester.py;sudo -s\";bash"
GenericName=
Icon=cache
Name=TheHarvester
Path=/pentest/enumeration/google/theharvester
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Information-Gathering-Searchengine
