[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"python wfuzz.py; sudo -s\";bash"
GenericName=
Icon=cache
Name=Wfuzz
Path=/pentest/web/wfuzz
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web
