[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"wavemon\";bash"
GenericName=
Icon=cache
Name=Wavemon
Path=/usr/local/bin/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Misc;Utilities;BT-Radio-Network-Analysis-80211-Misc
