[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./wmat.py;sudo -s\";bash"
GenericName=
Icon=cache
Name=WMAT
Path=/pentest/web/wmat/
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Web;BT-Web-Application
