[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./xspy -h;ls -l;sudo -s\";bash"
GenericName=
Icon=cache
Name=Xspy
Path=/pentest/sniffers/xspy 
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers
