[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"/etc/init.d/apache2 restart && /etc/init.d/xplico start && echo '' && echo '---------------  READ ME  ------------------' && echo 'WARNING: Apache2 server started. You will have to stop it *MANUALLY*, if you no longer need the service.' && echo '---------------  READ ME  ------------------' && echo '' &&  firefox http://localhost:9876/ & 1>/dev/null 2>&1 && read\" ;bash"
GenericName=
Icon=cache
Name=XPlico
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers;BT-Forensics-Analysis
