[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"./xwatchwin;sudo -s\";bash"
GenericName=
Icon=cache
Name=Xwatchwin
Path=/pentest/sniffers/xwatchwin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Sniffers
