[Desktop Entry]
Comment=
Exec=xterm -e "sh -c \"zzuf --help;sudo -s\";bash"
GenericName=
Icon=cache
Name=ZZuf
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=BT-Vulnerability-Identification-Fuzzers
